<a href="../views/index.ejs" id="q" style="margin-right: 10px;">Home</a>
    <a href="../views/contact.ejs" id="w" style="margin-right: 10px;">Contact</a>
    <div class="dropdown">
      <button class="dropbtn" style="margin-right: 10px;">Oferte</button>
      <div class="dropdown-content">
        <a href="../views/oferteLOWEND.ejs" id="e">Low-end</a>
        <a href="../views/oferteMEDIUM.ejs" id="r">Medium</a>
        <a href="../views/oferteHIGHEND.ejs" id="t">High-end</a>
      </div>
    </div>
<a href="../views/PACHETE_AVANTAJOASE.ejs" id="y" style="margin-right: 10px;">Pachete-avantaj</a>