<!DOCTYPE html>
<html  lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
    <link rel="stylesheet" href="../static/CSS/ceseseOFERTE.css">
    <title>oferteMEDIUM</title>
    <script src="https://kit.fontawesome.com/a1108e4662.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="navbar">
    <div class="navbar">
      <%- include('../views/navbar.ejs')%>;
  </div>
</div>
      <div class="grid1">
          <div class="masina1">
            <a href = "#" style = "margin-bottom: 20px; margin-top: 18px;"><img src="../static/IMAGINI/a6.jpg" alt="a6" onclick="salveaza_masina14()" class="zoom"></a>
            <ul class = "fa-ul" id = "cv14">
              <li>Audi A6</li>
              <li>Capacitate cilindrica: 1998</li>
              <li>Putere: 210cp</li>
              <li>Culoare: gri</li>
              <li>An: 2018</li>
            </ul>
          </div>
          <div class="masina2">
            <a href = "#" style = "margin-bottom: 20px; margin-top: 18px;"><img src="../static/IMAGINI/seria5.jpg" alt="seria5" class="zoom" onclick="salveaza_masina15()"></a>
            <ul class = "fa-ul" id = "cv15">
              <li>BMW Seria 5</li>
              <li> Capacitate cilindrica: 1998</li>
              <li>Putere: 200cp</li>
              <li>Culoare: alb</li>
              <li>An: 2017</li>
            </ul>
          </div>
          <div class="masina3">
            <a href = "#" style = "margin-bottom: 20px; margin-top: 18px;"><img src="../static/IMAGINI/eklasse.jpg" alt="E CLASS" class="zoom" onclick="salveaza_masina16()"></a>
            <ul class = "fa-ul" id = "cv16">
              <li>Mercedes E Klasse</li>
              <li> Capacitate cilindrica: 2998</li>
              <li>Putere: 267cp</li>
              <li>Culoare: gri</li>
              <li>An: 2019</li>
            </ul>
          </div>
          <div class="masina4">
            <a href = "#" style = "margin-bottom: 20px; margin-top: 18px;"><img src="../static/IMAGINI/lexus.jpg" alt="lexus" class="zoom" onclick="salveaza_masina17()"></a>
            <ul class = "fa-ul" id = "cv17">
              <li>Lexus LS</li>
              <li> Capacitate cilindrica: 1998</li>
              <li>Putere: 200cp</li>
              <li>Culoare: gri</li>
              <li>An: 2020</li>
            </ul>
        </div>
        <div class="masina5">
          <a href = "#" style = "margin-bottom: 20px; margin-top: 18px;"><img src="../static/IMAGINI/xf.jpg" alt="jaguar" class="zoom" onclick="salveaza_masina18()"></a>
          <ul class = "fa-ul" id = "cv18">
            <li>Jaguar XF</li>
            <li> Capacitate cilindrica: 1998</li>
            <li>Putere: 200cp</li>
            <li>Culoare: albastru</li>
            <li>An: 2017</li>
          </ul>
       </div>
        <div class="masina6">
          <a href = "#" style = "margin-bottom: 20px; margin-top: 18px;"><img src="../static/IMAGINI/modelS.jpg" alt="teslaMODELs" class="zoom" onclick="salveaza_masina19()"></a>
          <ul class = "fa-ul" id = "cv19">
            <li>Tesla Model S</li>
            <li>Masina electrica</li>
            <li>Putere: 600cp</li>
            <li>Culoare: rosu</li>
            <li>An: 2017</li>
          </ul>
        </div>
        <div class="masina7">
          <a href = "#" style = "margin-bottom: 20px; margin-top: 18px;"><img src="../static/IMAGINI/panamera.jpg" alt="panamera" class="zoom" onclick="salveaza_masina20()"></a>
          <ul class = "fa-ul" id = "cv20">
            <li>Porsche Panamera</li>
            <li> Capacitate cilindrica: 3498</li>
            <li>Putere: 350cp</li>
            <li>Culoare: negru</li>
            <li>An: 2017</li>
          </ul>
        </div>
        <div class="masina8">
          <a href = "#" style = "margin-bottom: 20px; margin-top: 18px;"><img src="../static/IMAGINI/seria6.jpg" alt="seria6" class="zoom" onclick="salveaza_masina22()"></a>
          <ul class = "fa-ul" id = "cv21">
            <li>BMW Seria 6</li>
            <li> Capacitate cilindrica: 3998</li>
            <li>Putere: 400cp</li>
            <li>Culoare: rosu</li>
            <li>An: 2012</li>
          </ul>
        </div>
        <div class="masina9">
          <a href = "#" style = "margin-bottom: 20px; margin-top: 18px;"><img src="../static/IMAGINI/q5.jpg" alt="q5" class="zoom"></a>
          <ul class = "fa-ul" id = "cv22">
            <li>Audi SQ5</li>
            <li> Capacitate cilindrica: 1998</li>
            <li>Putere: 200cp</li>
            <li>Culoare: albastru</li>
            <li>An: 2020</li>
          </ul>
       </div>
      </div>
      <p>Mai multe informatii la</p>
      <script src="../static/JAVASCRIPT/oferte.js"></script>

</body>
</html>