<!DOCTYPE html>
<html  lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
    <link rel="stylesheet" href="../static/CSS/ceseseOFERTE.css">
    <title>oferteLOWEND</title>
    <script src="https://kit.fontawesome.com/a1108e4662.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="navbar">
    <div class="navbar">
      <%- include('../views/navbar.ejs')%>;
  </div>
</div>
      <div class="grid1">
          <div class="masina1">
            <a href = "#" style = "margin-bottom: 20px; margin-top: 18px;"><img src="../static/IMAGINI/image.png"  onclick="salveaza_masina5()" alt="seria1" class="zoom"></a>
                <ul class = "fa-ul" id = "cv5">
                  <li>BMW Seria 1</li>
                  <li> Capacitate cilindrica: 1998</li>
                  <li>Putere: 200cp</li>
                  <li>Culoare: albastru</li>
                  <li>An: 2017</li>
                </ul>
          </div>
          <div class="masina2">
            <a href = "#" style = "margin-bottom: 20px; margin-top: 18px;"><img src="../static/IMAGINI/seria2.jpg" alt="seria2" class="zoom"  onclick="salveaza_masina6()"></a>
            <ul class = "fa-ul" id = "cv6">
              <li>BMW Seria 2</li>
              <li>Capacitate cilindrica: 1498</li>
              <li>Putere: 140cp</li>
              <li>Culoare: mov</li>
              <li>An: 2017</li>
            </ul>
          </div>
           <div class="masina3">
            <a href = "#" style = "margin-bottom: 20px; margin-top: 18px;"><img src="../static/IMAGINI/seria3.jpg" alt="seria3" class="zoom"  onclick="salveaza_masina7()"></a>
            <ul class = "fa-ul" id = "cv7">
              <li>BMW Seria 3</li>
              <li>Capacitate cilindrica: 2998</li>
              <li>Putere: 240cp</li>
              <li>Culoare: negru</li>
              <li>An: 2018</li>
            </ul>
          </div>
          <div class="masina4">
            <a href = "#" style = "margin-bottom: 20px; margin-top: 18px;"><img src="../static/IMAGINI/seria3break.jpg" alt="seria3break" class="zoom"  onclick="salveaza_masina8()"></a>
            <ul class = "fa-ul" id = "cv8">
              <li>BMW Seria 3</li>
              <li>Capacitate cilindrica: 1998</li>
              <li>Putere: 333cp</li>
              <li>Culoare: negru</li>
              <li>An: 2019</li>
            </ul>
        </div>
        <div class="masina5">
          <a href = "#" style = "margin-bottom: 20px; margin-top: 18px;"><img src="../static/IMAGINI/a3.jpg" alt="a3" class="zoom"  onclick="salveaza_masina9()"></a>
          <ul class = "fa-ul" id = "cv9">
            <li>Audi A3</li>
            <li>Capacitate cilindrica: 1598</li>
            <li>Putere: 120cp</li>
            <li>Culoare: gri</li>
            <li>An: 2016</li>
          </ul>
       </div>
        <div class="masina6">
          <a href = "#" style = "margin-bottom: 20px; margin-top: 18px;"><img src="../static/IMAGINI/a4.jpg" alt="a4" class="zoom"  onclick="salveaza_masina10()"></a>
          <ul class = "fa-ul" id = "cv10">
            <li>Audi A4</li>
            <li>Capacitate cilindrica: 3498</li>
            <li>Putere: 340cp</li>
            <li>Culoare: gri</li>
            <li>An: 2018</li>
          </ul>
        </div>
        <div class="masina7">
          <a href = "#" style = "margin-bottom: 20px; margin-top: 18px;"><img src="../static/IMAGINI/model3.jpg" alt="tesla" class="zoom"  onclick="salveaza_masina11()"></a>
          <ul class = "fa-ul" id = "cv11">
            <li>Tesla Model 3</li>
            <li>Masina Electrica</li>
            <li>Putere: 400cp</li>
            <li>Culoare: alb</li>
            <li>An: 2019</li>
          </ul>
        </div>
        <div class="masina8">
          <a href = "#" style = "margin-bottom: 20px; margin-top: 18px;"><img src="../static/IMAGINI/golf8.jpg" alt="golf8" class="zoom"  onclick="salveaza_masina12()"></a>
          <ul class = "fa-ul" id = "cv12">
            <li>VW Golf 8</li>
            <li>Capacitate cilindrica: 1498</li>
            <li>Putere: 140cp</li>
            <li>Culoare: galben</li>
            <li>An: 2019</li>
          </ul>
        </div>
        <div class="masina9" id = "cv13">
          <a href = "#" style = "margin-bottom: 20px; margin-top: 18px;"><img src="../static/IMAGINI/cla.jpg" alt="cla" class="zoom"  onclick="salveaza_masina13()"></a>
          <ul class = "fa-ul">
            <li>Mercedes CLA</li>
            <li>Capacitate cilindrica: 2498</li>
            <li>Putere: 270cp</li>
            <li>Culoare: gri</li>
            <li>An: 2017</li>
          </ul>
       </div>
      </div>
      <p>Mai multe informatii la</p>
      <script src="../static/JAVASCRIPT/oferte.js"></script>

</body>
</html>