<!DOCTYPE html>
<html lang="ro">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
    <link rel="stylesheet" href="../static/CSS/cesesePACHETE.css">
    <title>Pachete</title>
</head>
<body>
    <div class="navbar">
        <div class="navbar">
            <%- include('../views/navbar.ejs')%>;
        </div>
    </div>
    <div class = "maindiv">
      <h1 style="text-align: left; margin-left: 3%;">Pachete avantajoase</h1>
      <div class = "divDESPRENOI">
            <div class="pachet1" id="p1">
                <div class="detaliipachet">
                    <div class="margine"><img src="../static/IMAGINI/seria3.jpg" alt="p1" style="width: 100%;"></div>
                        <div>
                            <table class="TABEL1">
                                <tr>
                                    <td>Zile</td>
                                    <td>1-14</td>
                                    <td>15-28</td>
                                    <td>28-60</td>
                                    <td>60-90</td>
                                    <td>90+</td>
                                  </tr>
                                  
                                  <tr>
                                    <td>Pret</td>
                                    <td>120$</td>
                                    <td>220$</td>
                                    <td>320$</td>
                                    <td>420$</td>
                                    <td>520$</td>
                                  </tr>
                              </table>
                        </div>
                    </div>
                    <div style="margin-top: 2%; margin-left: 2%; margin-bottom: 2%;">Pachetul 1 contine un BMW Seria 3. Dacă vorbim despre confort, BMW Seria 3 oferă dimensiuni generoase, bine proporţionate. Acces în automobil via smartphone, protecţie fonică sau sistemul inteligent through-loading fiecare detaliu îţi va face viaţa mai uşoară şi îţi vă spori confortul când conduci. </div>
                </div>
             <div class="pachet1" id = "p2">
                <div class="detaliipachet">
                    <div class="margine"><img src="../static/IMAGINI/a6.jpg" alt="p1" style="width: 100%;"></div>
                        <div>
                            <table class="TABEL1">
                                <tr>
                                    <td>Zile</td>
                                    <td>1-14</td>
                                    <td>15-28</td>
                                    <td>28-60</td>
                                    <td>60-90</td>
                                    <td>90+</td>
                                  </tr>
                                  
                                  <tr>
                                    <td>Pret</td>
                                    <td>170$</td>
                                    <td>270$</td>
                                    <td>370$</td>
                                    <td>470$</td>
                                    <td>570$</td>
                                  </tr>
                              </table>
                        </div>
                    </div>
                    <div style="margin-top: 2%; margin-left: 2%; margin-bottom: 2%;">Când designul întâlneşte eficienţa şi sportivitatea se îmbină cu rafinamentul. Când inovaţia şi precizia merg mână în mână şi eleganţa progresistă se simte în fiecare linie. Când forma şi funcţia se contopesc şi avansul domină în toate. Atunci, clasa business se ridică la un nou standard: Audi A6 Limuzină. Şi mai atletic. Mai impunător. </div>
                </div>   
                 <div class="pachet1" id = "p3">
                <div class="detaliipachet">
                    <div class="margine"><img src="../static/IMAGINI/lexus.jpg" alt="p1" style="width: 100%;"></div>
                        <div>
                            <table class="TABEL1">
                                <tr>
                                    <td>Zile</td>
                                    <td>1-14</td>
                                    <td>15-28</td>
                                    <td>28-60</td>
                                    <td>60-90</td>
                                    <td>90+</td>
                                  </tr>
                                  
                                  <tr>
                                    <td>Pret</td>
                                    <td>200$</td>
                                    <td>300$</td>
                                    <td>400$</td>
                                    <td>500$</td>
                                    <td>600$</td>
                                  </tr>
                              </table>
                        </div>
                    </div>
                    <div style="margin-top: 2%; margin-left: 2%; margin-bottom: 2%;">Rezultat al unei calatorii creative de 5 ani, a cincea generatie a navei-amiral Lexus transforma luxul specific unui sedan intr-o noua forma de arta. Designerii nostri au impins limitele intotdeauna, dar acest model LS extinde frontierele tehnologiei. Reproiectat de la zero, ofera o agilitate superba a manevrarii si performante remarcabile, fara a face niciun compromis in privinta confortului si a luxului. </div>
                </div>   
                 <div class="pachet1" id = "p4">
                <div class="detaliipachet">
                    <div class="margine"><img src="../static/IMAGINI/model3.jpg" alt="p1" style="width: 100%;"></div>
                        <div>
                            <table class="TABEL1">
                                <tr>
                                    <td>Zile</td>
                                    <td>1-14</td>
                                    <td>15-28</td>
                                    <td>28-60</td>
                                    <td>60-90</td>
                                    <td>90+</td>
                                  </tr>
                                  
                                  <tr>
                                    <td>Pret</td>
                                    <td>100$</td>
                                    <td>200$</td>
                                    <td>300$</td>
                                    <td>400$</td>
                                    <td>500$</td>
                                  </tr>
                              </table>
                        </div>
                    </div>
                    <div style="margin-top: 2%; margin-left: 2%; margin-bottom: 2%;">Tesla a proiectat Model 3 ca vehicul electric de la zero, utilizând integrarea la nivel de sistem. Fiecare componentă, inclusiv bateriile, motoarele și chiar aerodinamica externă sunt optimizate pentru a beneficia unele de celelalte și pentru a crea unul dintre cele mai eficiente, dar incredibil de puternice vehicule construite vreodată. </div>
                </div>   
                 <div class="pachet1" id = "p5">
                <div class="detaliipachet">
                    <div class="margine"><img src="../static/IMAGINI/a8.jpg" alt="p1" style="width: 100%;"></div>
                        <div>
                            <table class="TABEL1">
                                <tr>
                                    <td>Zile</td>
                                    <td>1-14</td>
                                    <td>15-28</td>
                                    <td>28-60</td>
                                    <td>60-90</td>
                                    <td>90+</td>
                                  </tr>
                                  
                                  <tr>
                                    <td>Pret</td>
                                    <td>330$</td>
                                    <td>430$</td>
                                    <td>530$</td>
                                    <td>630$</td>
                                    <td>730$</td>
                                  </tr>
                              </table>
                        </div>
                    </div>
                    <div style="margin-top: 2%; margin-left: 2%; margin-bottom: 2%;">Noul Audi A8 vă întâmpină cu ușile larg deschise, într-un univers sofisticat, în care progresul își găsește locul în modul cel mai natural. de la uimitoarele jante cu design nou, la grila refăcută a radiatorului și prizele de aer laterale, la plafonul panoramic vitrat: fiecare detaliu al designului exterior a fost dezvoltat cu gândul la eleganța progresistă. Acest concept automobilistic se integrează perfect în stilul dumneavoastră de viață, susținându-vă cu sisteme de asistență avansate, astfel încât fiecare călătorie să devină mai facilă și mai sigură. </div>
                </div>       
            <div>
                <table class="TABEL2">
                    <tr>
                        <td>Zile</td>
                        <td>1-14</td>
                        <td>15-28</td>
                        <td>28-60</td>
                        <td>60-90</td>
                        <td>90+</td>
                    </tr>      
                    <tr>
                        <td>BMW Seria 3</td>
                        <td>130$</td>
                        <td>230$</td>
                        <td>330$</td>
                        <td>430$</td>
                        <td>530$</td>
                    </tr>
                    <tr>
                        <td>Audi A6</td>
                        <td>200$</td>
                        <td>200$</td>
                        <td>200$</td>
                        <td>200$</td>
                        <td>200$</td>
                    </tr>
                    <tr>
                        <td>Lexus LS</td>
                        <td>160$</td>
                        <td>260$</td>
                        <td>360$</td>
                        <td>460$</td>
                        <td>560$</td>
                    </tr>
                    <tr>
                        <td>Tesla Model S</td>
                        <td>230$</td>
                        <td>230$</td>
                        <td>230$</td>
                        <td>230$</td>
                        <td>230$</td>
                    </tr>
                    <tr>
                        <td>Audi A8</td>
                        <td>330$</td>
                        <td>430$</td>
                        <td>530$</td>
                        <td>630$</td>
                        <td>730$</td>
                    </tr>
                </table>
            </div>
        </div>
            <form action="/views" method="POST">
                <input type = "text" id="pachet" placeholder="alege pachetul (de la 1 la 5)" name="pachet" >
                <input type = "text" id="nr_zile" name = "nr_zile" placeholder="cate zile doriti sa inchiriati?">
                <button id="read" style="margin-bottom: 15px;" onclick="insert()">submit</button>
            </form>
            <form action="/views/PACHETE_AVANTAJOASE.ejs/pachet_ales">
                <button type = "submit" style="margin-bottom: 15px;">Afiseaza pachetul ales</button>
            </form>

            <button id="read" style="margin-bottom: 15px;" onclick="update()">Doresc servicii premium</button>
            
            <button type="input" id="delete" style="margin-bottom: 15px;" onclick="delete_pack()">delete</button>
        
  </div>
  <script src="../static/JAVASCRIPT/PACHETE_AVANTAJOASE.js"></script>
</body>
</html>